.App-header {
  z-index: 50 !important;
  background-color: #222;
  height: 20em;
  padding: 20px;
  color: white;
  text-align: center;
}

#main-segment {
  padding: 5em !important;
}

#main-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: auto!important;
}

#main-tab-bar {
  background-color: white;
  zIndex:20 !important;
}

.largetext,text {
  font-size: 1.3rem;
}

.bigtext,text {
  font-size: 1.5rem;
}
